/** CSS TAG*/
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66BFBF;
   
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
 }
h3 {
    font-family: "Montserrat", sans-serif;
    color:  #11999E;
 }
p {
    line-height: 2; 
 }
hr {
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 4%;
margin: 100px auto auto;
}
a {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
/** CSS CLASS*/

 .yacin {
    width: 200px;
    height: 200px;
 }
.top-container {
    background-color:#cff5eb;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.consultant-img {
    border-radius: 100px;
    width: 20%;
    float: left;
    margin-right: 30px;
}
.budget-img {
   border-radius: 100px;
   width: 20%;
   float: right;
   margin-left: 30px;
}

.intro {
    width: 30%;
    margin: auto;
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.copyright {
    color:#EAF6F6 ;
    font-size: 0.7rem;
    padding: 20px 0 0;
}

.middle-container {
margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.myButton {
	box-shadow: -16px 14px 11px -37px #a1d4cd;
	background:linear-gradient(to bottom, #54f5bf 5%, #8dc4c4 100%);
	background-color:#54f5bf;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Montserrat", sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:9px 22px;
	text-decoration:none;
	text-shadow:2px 2px 0px #66bfbf;
}
.myButton:hover {
	background:linear-gradient(to bottom, #8dc4c4 5%, #54f5bf 100%);
	background-color:#8dc4c4;
}
.myButton:active {
	position:relative;
	top:1px;
}


